# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      # Runs a single command using the runners shell
      - name: Run a one-line script
        run: echo Hello, world!

      # Runs a single command using the runners shell
      - name: create
        run: fallocate -l 5000M file.out

      - name: create1
        run: fallocate -l 5000M file1.out

      # Runs a set of commands using the runners shell
      - name: Run a multi-line script
        run: |
          fallocate -l 5000M file2.out
          echo test, and deploy your project.
          ls -al
          du -hs
          
      - name: create3
        run: fallocate -l 3000M file1.out
     
      - name: create4
        run: fallocate -l 2000M file1.out
    
      - name: create5
        run: fallocate -l 1000M file1.out
    
      - name: create6
        run: fallocate -l 1000M file1.out
    
      - name: close
        run: |
          ls -al
          du -hs
